	<div class="container"  ng-controller="stuCtrl">
		<div class="row">
			 <div class="col-md-8">
			  	<form class="form-inline" >
				<div class="form-group">
					<label class="sr-only" for="stuNo"></label>
					<label>{{ 'Search' | translate }}:&nbsp;</label><input type="text" class="form-control" id="stuNo" ng-model="stuNoQuery" placeholder="{{ 'SearchInfo' | translate }}" />
				</div>
				</form> 
			</div>
			<div class="col-md-4">
			  	<button class="btn btn-success" ui-sref="home.add">{{ 'NewStudent' | translate }}</button>
			  	<!-- <button class="btn btn-success"  ng-click="add()" >New Student</button> -->
			</div>
		</div>
		
		<table class="table table-striped" >
			<thead>
				<tr>
					<th>{{ 'ID' | translate }}</th>
					<th>{{ 'StuNo' | translate }}</th>
					<th>{{ 'Name' | translate }}</th>
					<th>{{ 'Class' | translate }}</th>
					<th>{{ 'Operation' | translate }}</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="stu in stuData | filter : stuNoQuery">
				<td><a ui-sref="home.{{$index + 1}}">{{$index + 1}}</a></td>
				<td>{{stu.stuNo}}</td>
				<td>{{stu.name}}</td>
				<td>{{stu.classLevel}}</td>
				<td>
					<button class="btn btn-primary" disabled>{{ 'Edit' | translate }}</button>
					<button class="btn btn-primary" ng-click="delete(stu)">{{ 'Delete' | translate }}</button>

				</td>
			</tr>
			
			</tbody>
		</table>	
		
		<!-- choose class-->

		<div ui-view></div>
		
	</div>
